h1 {
    padding-bottom: 20px;
}

.or {
    font-size: 2em;
}

.random {
    font-size: 1.2em;
}

.input-group {
    padding-left: 50px;
}

.col-md-12 {
    padding-top: 20px;
}

.heading {
    font-size: 1.5em;
}

.glyphicon {
    text-align: center;
}